<div class="row templates">
  <div class="col-md-4">
    <h3>Blue Template</h3>
    <img src="img/blue.jpg" alt="">
    <h4>$19.99</h4>
    <a href="#/templates/1" class="btn btn-primary btn-block">Details</a>
  </div>
  <div class="col-md-4">
    <h3>Green Template</h3>
    <img src="img/green.jpg" alt="">
    <h4>$10.99</h4>
    <a href="#/templates/1" class="btn btn-primary btn-block">Details</a>
  </div>
  <div class="col-md-4">
    <h3>Purple Template</h3>
    <img src="img/purple.jpg" alt="">
    <h4>$14.99</h4>
    <a href="#/templates/1" class="btn btn-primary btn-block">Details</a>
  </div>
</div>
